### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
/bin/

.settings/.jsdtscope

.classpath

.project

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

WebContent/META-INF/MANIFEST.MF
